/*Start setting up font family*/
@font-face {
  font-family: 'Cairo';
  src: url(../fonts/google/cairo/Cairo-VariableFont_wght.ttf);
}

@font-face {
  font-family: 'Nunito';
  src: url(../fonts/google/Nunito/Nunito-VariableFont_wght.ttf), url(../fonts/google/Nunito/Nunito-Italic-VariableFont_wght.ttf);
}

body {
  font-family: 'Nunito' , "segoe" ,sans-serif !important;
  -webkit-animation-name: load;
          animation-name: load;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

/*end setting up font family*/
.mainSiteHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 1440;
  top: 0;
  height: 65px;
  width: 100%;
  background-color: rgba(238, 238, 216, 0.5);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  -webkit-box-shadow: 5px 0 10px 0 #2222222f;
          box-shadow: 5px 0 10px 0 #2222222f;
}

.mainSiteHeader > .container-fluid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainSiteHeader > .container-fluid .logo {
  margin: 0 2rem;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  min-height: 100vh;
  background-color: #0F0E0E;
}

.about::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-clip-path: circle(20% at 130px 165px);
          clip-path: circle(20% at 130px 165px);
  background: linear-gradient(45deg, #D82148, #FFE61B);
}

.about::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-clip-path: circle(15% at 1100px 460px);
          clip-path: circle(15% at 1100px 460px);
  background: linear-gradient(45deg, #5902EC, #139487);
}

.about > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: inherit;
  position: relative;
  z-index: 5;
}

.about > .container > .row {
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 70px;
}

.about > .container > .row .information {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 576px) {
  .about > .container > .row .information {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

.about > .container > .row .information .myInformationCard {
  position: relative;
  width: 90%;
  height: 100%;
  padding: 2.5rem 0;
  background: rgba(54, 21, 0, 0.3);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border-top: 2px solid rgba(240, 242, 246, 0.05);
  border-left: 2px solid rgba(240, 242, 246, 0.05);
  border-radius: 0.7rem;
  -webkit-box-shadow: 10px 10px 50px 0px #020202;
          box-shadow: 10px 10px 50px 0px #020202;
}

@media (max-width: 576px) {
  .about > .container > .row .information .myInformationCard {
    margin: auto;
  }
}

.about > .container > .row .information .myInformationCard .card-header {
  position: absolute;
  inset: 0;
  color: rgba(255, 255, 255, 0.5);
}

.about > .container > .row .information .myInformationCard img {
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 2rem;
  max-width: 40%;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 1px 15px #0F0E0E;
          box-shadow: 0 0 1px 15px #0F0E0E;
}

.about > .container > .row .information .myInformationCard .card-body {
  text-align: center;
}

.about > .container > .row .information .myInformationCard .card-body > h4 {
  color: #e4e4e6;
}

.about > .container > .row .information .myInformationCard .card-body > .card-text {
  color: #e4e4e6;
  color: #afafb5;
  text-align: start;
}

.about > .container > .row .information .myInformationCard .card-body > .card-text > span {
  color: #EF6D6D;
  font-weight: bold;
  font-size: 1.5rem;
  text-transform: capitalize;
  line-height: 50px;
}

.about > .container > .row .skillsList {
  position: relative;
  height: 100%;
  padding: 7rem 1rem;
  background: rgba(54, 21, 0, 0.3);
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border-top: 2px solid rgba(240, 242, 246, 0.05);
  border-left: 2px solid rgba(240, 242, 246, 0.05);
  border-radius: 0.7rem;
  -webkit-box-shadow: 10px 10px 50px 0px #020202;
          box-shadow: 10px 10px 50px 0px #020202;
}

@media (max-width: 768px) {
  .about > .container > .row .skillsList {
    margin: 2rem 0;
  }
}

@media (max-width: 768px) {
  .about > .container > .row .skillsList {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
}

.about > .container > .row .skillsList .skills-header {
  position: absolute;
  inset: 15px;
  color: rgba(255, 255, 255, 0.5);
}

.about > .container > .row .skillsList .technologes {
  margin-top: auto;
  margin-bottom: 1.5rem;
}

.about > .container > .row .skillsList .technologes label {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  color: #e4e4e6;
}

.about > .container > .row .skillsList .technologes .html label {
  margin: .7rem 0;
  font-weight: 400;
  text-transform: capitalize;
  color: #e4e4e6 !important;
}

.about > .container > .row .skillsList .technologes .html .progress > :first-child {
  background-color: #396EB0;
  width: 75%;
  color: #e4e4e6;
  text-align: center;
  font-weight: bold;
}

.about > .container > .row .skillsList .technologes .CSS-CSS3 .progress > :first-child {
  background-color: #CD1818;
  width: 83%;
  color: #e4e4e6;
  text-align: center;
  font-weight: bold;
}

.about > .container > .row .skillsList .technologes .javascript .progress > :first-child {
  background-color: #F3950D;
  width: 70%;
  color: #e4e4e6;
  text-align: center;
  font-weight: bold;
}

.about > .container > .row .skillsList .technologes .bootstrap .progress > :first-child {
  width: 57%;
  background-color: #B000B9;
  color: #e4e4e6;
  text-align: center;
  font-weight: bold;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  min-height: 100vh;
  background-color: #020202;
}

.contacts::before {
  content: '';
  position: absolute;
  inset: 0;
  -webkit-clip-path: polygon(10% 0%, 0% 60%, 50% 40%);
          clip-path: polygon(10% 0%, 0% 60%, 50% 40%);
  background: -webkit-gradient(linear, left top, right top, from(#2666CF), to(#FFD32D));
  background: linear-gradient(90deg, #2666CF, #FFD32D);
}

.contacts::after {
  content: '';
  position: absolute;
  inset: 0;
  -webkit-clip-path: circle(40% at bottom right);
          clip-path: circle(40% at bottom right);
  background: linear-gradient(60deg, #9B0000, #FF8E00, #040303);
}

.contacts > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: inherit;
  gap: 25px;
  position: relative;
  z-index: 5;
}

@media (max-width: 992px) {
  .contacts > .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 100px 0;
  }
}

.contacts > .container .mailBox {
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border-top: 2px solid rgba(240, 242, 246, 0.05);
  border-left: 2px solid rgba(240, 242, 246, 0.05);
  border-radius: 0.7rem;
  -webkit-box-shadow: 10px 10px 50px 0px #020202;
          box-shadow: 10px 10px 50px 0px #020202;
  background-color: rgba(54, 21, 0, 0.3);
  padding: 2.5rem 1rem;
  border-radius: 0.7rem;
}

@media (max-width: 992px) {
  .contacts > .container .mailBox {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

.contacts > .container .mailBox .emailInput label, .contacts > .container .mailBox .nameInput label {
  color: #e4e4e6;
  text-transform: capitalize;
}

.contacts > .container .mailBox .emailInput input, .contacts > .container .mailBox .nameInput input {
  padding: 0.5rem 0.25rem;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  background-color: rgba(32, 50, 57, 0.4);
  color: #e4e4e6;
  font-weight: 500;
  border: none;
  width: 100%;
  border-radius: 0.25rem;
}

.contacts > .container .mailBox .emailInput input:focus, .contacts > .container .mailBox .nameInput input:focus {
  border: none;
  outline: none;
  -webkit-box-shadow: 0px 0px 6px 1px #EF6D6D;
          box-shadow: 0px 0px 6px 1px #EF6D6D;
}

.contacts > .container .mailBox .emailInput input:focus::-webkit-input-placeholder, .contacts > .container .mailBox .nameInput input:focus::-webkit-input-placeholder {
  opacity: 0;
}

.contacts > .container .mailBox .emailInput input:focus:-ms-input-placeholder, .contacts > .container .mailBox .nameInput input:focus:-ms-input-placeholder {
  opacity: 0;
}

.contacts > .container .mailBox .emailInput input:focus::-ms-input-placeholder, .contacts > .container .mailBox .nameInput input:focus::-ms-input-placeholder {
  opacity: 0;
}

.contacts > .container .mailBox .emailInput input:focus::placeholder, .contacts > .container .mailBox .nameInput input:focus::placeholder {
  opacity: 0;
}

.contacts > .container .mailBox .emailInput input::-webkit-input-placeholder, .contacts > .container .mailBox .nameInput input::-webkit-input-placeholder {
  color: #e4e4e6;
  text-transform: capitalize;
}

.contacts > .container .mailBox .emailInput input:-ms-input-placeholder, .contacts > .container .mailBox .nameInput input:-ms-input-placeholder {
  color: #e4e4e6;
  text-transform: capitalize;
}

.contacts > .container .mailBox .emailInput input::-ms-input-placeholder, .contacts > .container .mailBox .nameInput input::-ms-input-placeholder {
  color: #e4e4e6;
  text-transform: capitalize;
}

.contacts > .container .mailBox .emailInput input::placeholder, .contacts > .container .mailBox .nameInput input::placeholder {
  color: #e4e4e6;
  text-transform: capitalize;
}

@media (max-width: 992px) {
  .contacts > .container .mailBox .subjectInput {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

.contacts > .container .mailBox .subjectInput textarea {
  width: 100%;
  height: 100%;
  padding: 0.5rem 0.25rem;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  background-color: rgba(32, 50, 57, 0.4);
  color: #e4e4e6;
}

.contacts > .container .mailBox .subjectInput textarea:focus::-webkit-input-placeholder {
  opacity: 0;
}

.contacts > .container .mailBox .subjectInput textarea:focus:-ms-input-placeholder {
  opacity: 0;
}

.contacts > .container .mailBox .subjectInput textarea:focus::-ms-input-placeholder {
  opacity: 0;
}

.contacts > .container .mailBox .subjectInput textarea:focus::placeholder {
  opacity: 0;
}

.contacts > .container .mailBox .subjectInput textarea:focus {
  border: none;
  outline: none;
  -webkit-box-shadow: 0px 0px 6px 1px #EF6D6D;
          box-shadow: 0px 0px 6px 1px #EF6D6D;
}

.contacts > .container .mailBox .subjectInput textarea::-webkit-input-placeholder {
  color: #e4e4e6;
  text-transform: capitalize;
}

.contacts > .container .mailBox .subjectInput textarea:-ms-input-placeholder {
  color: #e4e4e6;
  text-transform: capitalize;
}

.contacts > .container .mailBox .subjectInput textarea::-ms-input-placeholder {
  color: #e4e4e6;
  text-transform: capitalize;
}

.contacts > .container .mailBox .subjectInput textarea::placeholder {
  color: #e4e4e6;
  text-transform: capitalize;
}

.contacts > .container .mainCard {
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border-top: 2px solid rgba(240, 242, 246, 0.05);
  border-left: 2px solid rgba(240, 242, 246, 0.05);
  border-radius: 0.7rem;
  -webkit-box-shadow: 10px 10px 50px 0px #020202;
          box-shadow: 10px 10px 50px 0px #020202;
  background-color: rgba(54, 21, 0, 0.3);
  padding: 1.25rem 1rem;
  border-radius: 0.7rem;
  height: 100%;
}

.contacts > .container .mainCard .address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  padding: 1rem 1rem;
  margin-bottom: 2.5rem;
  color: #e4e4e6;
}

.contacts > .container .mainCard .address > :first-child {
  font-size: calc(1rem + 1.5vw);
}

.contacts > .container .mainCard .address > :last-child {
  text-align: start;
  text-transform: capitalize;
}

.contacts > .container .mainCard .ContactNumbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  padding: 1rem 1rem;
  color: #e4e4e6;
}

.contacts > .container .mainCard .ContactNumbers .phoneNumber, .contacts > .container .mainCard .ContactNumbers .whatsapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

@media (max-width: 768px) {
  .contacts > .container .mainCard .ContactNumbers .phoneNumber, .contacts > .container .mainCard .ContactNumbers .whatsapp {
    -ms-flex-item-align: start !important;
        align-self: flex-start !important;
  }
}

.contacts > .container .mainCard .ContactNumbers .phoneNumber > :first-child, .contacts > .container .mainCard .ContactNumbers .whatsapp > :first-child {
  color: #A3DA8D;
}

.contacts > .container .mainCard .socail-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: Center;
      -ms-flex-pack: Center;
          justify-content: Center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0.5rem;
}

.contacts > .container .mainCard .socail-media > a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: calc(0.5rem + 1vw);
  color: #e4e4e6;
}

.contacts > .container .mainCard .socail-media > a > :first-child {
  padding: 0 1rem;
}

.contacts > .container .mainCard .socail-media > a:last-of-type {
  text-transform: none;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  min-height: 100vh;
  background-color: #0F0E0E;
}

.gallery::before {
  content: '';
  position: absolute;
  inset: 0;
  -webkit-clip-path: circle(35% at top right);
          clip-path: circle(35% at top right);
  background: -webkit-gradient(linear, left top, left bottom, from(#519259), to(#064635));
  background: linear-gradient(180deg, #519259, #064635);
}

.gallery::after {
  content: '';
  position: absolute;
  inset: 0;
  -webkit-clip-path: circle(40% at left bottom);
          clip-path: circle(40% at left bottom);
  background: -webkit-gradient(linear, left top, left bottom, from(#F90716), to(#FFF323));
  background: linear-gradient(180deg, #F90716, #FFF323);
}

.gallery > .container-fluid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 5;
  min-height: inherit;
  margin-left: 75px;
  margin-right: 75px;
}

@media (max-width: 768px) {
  .gallery > .container-fluid {
    margin: 10rem auto;
  }
}

.gallery > .container-fluid .projects {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 0.5rem;
  margin-top: 4.5rem;
  margin-bottom: 4.5rem;
}

.gallery > .container-fluid .projects .projectBox {
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border-top: 2px solid rgba(240, 242, 246, 0.05);
  border-left: 2px solid rgba(240, 242, 246, 0.05);
  border-radius: 0.7rem;
  -webkit-box-shadow: 10px 10px 50px 0px #020202;
          box-shadow: 10px 10px 50px 0px #020202;
  position: relative;
  background: rgba(54, 21, 0, 0.3);
  padding: 0.7rem;
  opacity: 0;
  pointer-events: none;
  display: none;
  -webkit-transition: display 0.3s ease-out ,opacity 0.3s ease-out;
  transition: display 0.3s ease-out ,opacity 0.3s ease-out;
}

.gallery > .container-fluid .projects .projectBox.cardIs-visable {
  opacity: 1;
  pointer-events: all;
  display: block;
}

.gallery > .container-fluid .projects .projectBox:hover .projectImage img {
  -webkit-transform: scale(1.3) rotate(2deg);
          transform: scale(1.3) rotate(2deg);
}

.gallery > .container-fluid .projects .projectBox .projectImage {
  border-radius: 0.7rem;
  overflow: hidden;
}

.gallery > .container-fluid .projects .projectBox .projectImage img {
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  max-width: 100%;
}

.gallery > .container-fluid .projects .projectBox > h5.projectTitle {
  margin: 1rem 0;
  color: rgba(228, 228, 230, 0.5);
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
}

.gallery > .container-fluid .projects .projectBox .projectLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem 0.1rem;
  margin-top: 0.7rem;
  background-color: transparent;
}

.gallery > .container-fluid .projects .showMoreBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border-top: 2px solid rgba(240, 242, 246, 0.05);
  border-left: 2px solid rgba(240, 242, 246, 0.05);
  border-radius: 0.7rem;
  -webkit-box-shadow: 10px 10px 50px 0px #020202;
          box-shadow: 10px 10px 50px 0px #020202;
  gap: 10px;
  position: relative;
  background: rgba(54, 21, 0, 0.3);
  padding: 0.7rem;
  cursor: pointer;
}

.gallery > .container-fluid .projects .showMoreBox .showMoreIco {
  width: 100%;
  margin-bottom: auto;
  text-align: center;
  background-color: #f6f6f883;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

.gallery > .container-fluid .projects .showMoreBox .showMoreIco:hover i {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.gallery > .container-fluid .projects .showMoreBox .showMoreIco:hover {
  background-color: #f6f6f8;
}

.gallery > .container-fluid .projects .showMoreBox .showMoreIco > :first-child {
  display: block;
  color: #000;
  font-size: 5rem;
  max-width: 100%;
  border-radius: 50%;
  -webkit-transition: -webkit-transform 0.5s ease-out;
  transition: -webkit-transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
  transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
}

.gallery > .container-fluid .projects .showMoreBox h5 {
  color: #e4e4e6;
  font-weight: bold;
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  min-height: 100vh;
  background-color: #0F0E0E;
}

.home::before {
  content: '';
  position: absolute;
  inset: 0;
  -webkit-clip-path: circle(40% at bottom right);
          clip-path: circle(40% at bottom right);
  background: linear-gradient(120deg, #4C0027, #F76E11);
}

.home::after {
  content: '';
  position: absolute;
  inset: 0;
  -webkit-clip-path: circle(30% at top left);
          clip-path: circle(30% at top left);
  background: linear-gradient(60deg, #65C18C, #524A4E);
}

.home > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 5;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: calc(100vh - 70px);
}

.home > .container .welcomeheading {
  padding: 40px 0;
}

@media (max-width: 768px) {
  .home > .container .welcomeheading {
    margin-top: 70px;
  }
}

.home > .container .welcomeheading > :last-child {
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border-top: 2px solid rgba(240, 242, 246, 0.05);
  border-left: 2px solid rgba(240, 242, 246, 0.05);
  border-radius: 0.7rem;
  -webkit-box-shadow: 10px 10px 50px 0px #020202;
          box-shadow: 10px 10px 50px 0px #020202;
  margin-top: 20px;
  padding: 1.5rem 1rem;
  background: rgba(54, 21, 0, 0.3);
  backdrop-filter: blur(20px);
  border-radius: 0.7rem;
}

.home > .container .welcomeheading > :last-child .headingtext {
  color: #e4e4e6;
  text-transform: uppercase;
  font-size: calc(1.2rem + 1.2vw);
  font-weight: bold;
}

.home > .container .welcomeheading > :last-child .headingtext > span {
  color: #EF6D6D;
}

.home > .container .welcomeheading > :last-child > p {
  margin-top: 1rem;
  color: #e4e4e6 !important;
  font-weight: normal;
  text-transform: capitalize;
  line-height: 17px;
}

.home > .container .welcomeheading > :first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home > .container .welcomeheading > :first-child .my-protoflio-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home > .container .welcomeheading > :first-child .my-protoflio-img .myImage {
  position: relative;
  display: inline-block;
  max-width: 50%;
  border-radius: 50%;
}

@media (max-width: 768px) {
  .home > .container .welcomeheading > :first-child .my-protoflio-img .myImage {
    max-width: 100%;
  }
}

.home > .container .scrollToTop {
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border-top: 2px solid rgba(240, 242, 246, 0.05);
  border-left: 2px solid rgba(240, 242, 246, 0.05);
  border-radius: 0.7rem;
  -webkit-box-shadow: 10px 10px 50px 0px #020202;
          box-shadow: 10px 10px 50px 0px #020202;
  position: fixed;
  z-index: 1465;
  bottom: 20px;
  right: 20px;
  padding: 0.5rem 1rem;
  background-color: rgba(238, 238, 216, 0.5);
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}

.home > .container .scrollToTop.visable-scroll-btn {
  opacity: 1;
  pointer-events: all;
  cursor: pointer;
}

.home > .container .scrollToTop > :first-child {
  font-size: calc(1rem + 1.5vw);
  color: #000;
}

.services {
  position: relative;
  min-height: 100vh;
  background-color: #0F0E0E;
}

.services::before {
  content: '';
  position: absolute;
  inset: 0;
  -webkit-clip-path: circle(25% at center left);
          clip-path: circle(25% at center left);
  background: linear-gradient(120deg, #7900FF, #548CFF);
}

.services::after {
  content: '';
  position: absolute;
  inset: 0;
  -webkit-clip-path: circle(35% at right bottom);
          clip-path: circle(35% at right bottom);
  background: -webkit-gradient(linear, left top, left bottom, from(#519259), to(#064635));
  background: linear-gradient(180deg, #519259, #064635);
}

.services > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 5;
  min-height: inherit;
}

.services > .container .servicesList {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}

@media (max-width: 768px) {
  .services > .container .servicesList {
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
  }
}

.services > .container .servicesList .serviceBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border-top: 2px solid rgba(240, 242, 246, 0.05);
  border-left: 2px solid rgba(240, 242, 246, 0.05);
  border-radius: 0.7rem;
  -webkit-box-shadow: 10px 10px 50px 0px #020202;
          box-shadow: 10px 10px 50px 0px #020202;
  background-color: rgba(54, 21, 0, 0.3);
  backdrop-filter: blur(20px);
  border-radius: 0.7rem;
  -webkit-transition: -webkit-transform 0.5s ease-out;
  transition: -webkit-transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
  transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
}

.services > .container .servicesList .serviceBox:hover {
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
}

.services > .container .servicesList .serviceBox .servIco {
  margin: auto;
  margin-top: 1rem;
}

.services > .container .servicesList .serviceBox .servIco img {
  max-width: 100%;
}

.services > .container .servicesList .serviceBox .servDescriptionBody {
  padding: 0.5rem 1.2rem 1.2rem;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
}

.services > .container .servicesList .serviceBox .servDescriptionBody .serheading > h4 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.1rem;
  color: #EF6D6D;
}

@media (max-width: 768px) {
  .services > .container .servicesList .serviceBox .servDescriptionBody .serheading > h4 {
    text-align: center;
  }
}

.services > .container .servicesList .serviceBox .servDescriptionBody p {
  line-height: 18px;
  color: rgba(228, 228, 230, 0.6);
}

.toggle-Navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 55px;
  cursor: pointer;
  background-color: rgba(238, 238, 216, 0.5);
  border: none;
  overflow: hidden;
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.toggle-Navigation > span {
  display: block;
  height: 4px;
  width: 85%;
  background-color: #0F0E0E;
  border-radius: 45px;
  -webkit-transition: background-color 0.3s ease-in-out ,-webkit-transform 0.5s ease-in-out;
  transition: background-color 0.3s ease-in-out ,-webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out ,background-color 0.3s ease-in-out;
  transition: transform 0.5s ease-in-out ,background-color 0.3s ease-in-out ,-webkit-transform 0.5s ease-in-out;
}

.toggle-Navigation:hover {
  background-color: #e6e6c6;
}

.toggle-Navigation.pressed {
  background-color: #b3303079;
}

.toggle-Navigation.pressed span:nth-child(2) {
  -webkit-transform: translateX(-70px);
          transform: translateX(-70px);
}

.toggle-Navigation.pressed span:first-child {
  -webkit-transform: rotate(130deg) translateY(-10px) translateX(13px);
          transform: rotate(130deg) translateY(-10px) translateX(13px);
  background-color: #FF1818;
}

.toggle-Navigation.pressed span:last-child {
  -webkit-transform: rotate(52deg) translateY(-7.5px) translateX(-9.5px);
          transform: rotate(52deg) translateY(-7.5px) translateX(-9.5px);
  background-color: #FF1818;
}

.hire {
  position: relative;
  display: inline-block;
  width: 7.5rem;
  height: 3.5rem;
  margin: 1.2rem 0;
  border: none;
  background-color: #e4e4e6;
  color: #000;
  font-size: calc(0.8rem + .5vw);
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}

.hire:hover {
  background-color: #0F0E0E;
  color: #e4e4e6;
  border: none;
}

.services > .container .servicesList .serviceBox .serButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 2.25rem;
  width: 100%;
  border: none;
  background-color: rgba(228, 228, 230, 0.6);
  color: #000;
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  border-radius: 0.7rem;
  transition: background-color 0.2s ease;
}

.services > .container .servicesList .serviceBox .serButton:hover {
  border: 1px solid #e4e4e6;
  background-color: rgba(15, 14, 14, 0.5);
  color: #e4e4e6;
}

.gallery > .container-fluid .projects .projectBox .projectLinks > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 2.5rem;
  width: calc((100% / 2) - 5px);
  text-align: center;
  text-decoration: none;
  background-color: rgba(228, 228, 230, 0.7);
  color: #000;
  font-weight: 500;
  -webkit-transition: background-color 0.2s ease ,color 0.2s ease;
  transition: background-color 0.2s ease ,color 0.2s ease;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border-radius: 0.25rem;
}

.gallery > .container-fluid .projects .projectBox .projectLinks > :first-child:hover {
  background-color: #e4e4e6;
}

.gallery > .container-fluid .projects .projectBox .projectLinks > :last-child {
  background-color: transparent;
  border: 1px solid #e4e4e6;
  color: #e4e4e6;
}

.gallery > .container-fluid .projects .projectBox .projectLinks > :last-child:hover {
  background-color: #e4e4e6;
  color: #000;
}

.sendInfoBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem 0;
  width: 100%;
  height: 2.5rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: rgba(228, 228, 230, 0.7);
  color: #000;
  font-weight: 600;
  -webkit-transition: background-color 0.2s ease ,color 0.2s ease;
  transition: background-color 0.2s ease ,color 0.2s ease;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border-radius: 0.25rem;
}

.sendInfoBtn:hover {
  background-color: #e4e4e6;
}

.navigationnBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 1440;
  top: 65px;
  left: 0;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 70px;
  height: calc(100vh - 65px);
  overflow-x: hidden;
  -webkit-transition: width 0.5s cubic-bezier(0.77, 0, 0.175, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  transition: width 0.5s cubic-bezier(0.77, 0, 0.175, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  transition: width 0.5s cubic-bezier(0.77, 0, 0.175, 1), transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  transition: width 0.5s cubic-bezier(0.77, 0, 0.175, 1), transform 0.5s cubic-bezier(0.77, 0, 0.175, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  background-color: rgba(238, 238, 216, 0.4);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  -webkit-box-shadow: 6px 2px 10px #2222222f;
          box-shadow: 6px 2px 10px #2222222f;
}

.navigationnBar.open {
  width: 270px;
  -webkit-transform: translateX(0) !important;
          transform: translateX(0) !important;
}

.navigationnBar.arabic {
  right: 0;
  left: initial;
}

.navigationnBar.smallMediaAR {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.navigationnBar.eng {
  left: 0;
  right: initial;
}

.navigationnBar.smallMediaEn {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.navigationnBar .mainNavgationTabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.2rem;
  padding: 0;
  margin: 0;
  width: 100%;
}

.navigationnBar .mainNavgationTabs > .list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 1rem 0;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.navigationnBar .mainNavgationTabs > .list-item.active {
  border-radius: 0 45px 45px 0;
  background-color: #ffffff8f;
}

.navigationnBar .mainNavgationTabs > .list-item:hover {
  border-radius: 0 45px 45px 0;
  background-color: #ffffff8f;
}

.navigationnBar .mainNavgationTabs > .list-item > .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  text-decoration: none;
}

.navigationnBar .mainNavgationTabs > .list-item > .nav-links > .item-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70px;
  padding: 0 1.25rem;
}

.navigationnBar .mainNavgationTabs > .list-item > .nav-links > .item-icon > :first-child {
  color: #0F0E0E;
}

.navigationnBar .mainNavgationTabs > .list-item > .nav-links > .item-discription {
  display: inline-block;
  width: 100%;
  text-align: start;
  color: #000;
}

.navigationnBar .mainNavgationTabs > .list-item > .nav-links > .item-discription > h4 {
  text-transform: uppercase;
}

.loadingOverlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 1550;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: #e4e4e48a;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  overflow: hidden;
}

.loadingOverlay .loadingText {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 40px;
}

.loadingOverlay .loadingIndicator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  padding: 0;
  border-radius: 50%;
}

.loadingOverlay .loadingIndicator > li {
  list-style: none;
  background-color: #EF6D6D;
  padding: 0.35rem;
  border-radius: 50%;
  -webkit-transition: background-color 0.2s ease-out, -webkit-transform 0.2s ease-out;
  transition: background-color 0.2s ease-out, -webkit-transform 0.2s ease-out;
  transition: background-color 0.2s ease-out, transform 0.2s ease-out;
  transition: background-color 0.2s ease-out, transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
}

.loadingOverlay .loadingIndicator > li.load {
  background-color: #f00;
  -webkit-transform: scale(1.3) translateY(-5px);
          transform: scale(1.3) translateY(-5px);
}
/*# sourceMappingURL=main.css.map */